{% extends 'base.html.twig' %}

{% block title %}Edit Reunion{% endblock %}

{% block body %}
    <h1>Edit Reunion</h1>

    {{ include('reunion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reunion_index') }}">back to list</a>

    {{ include('reunion/_delete_form.html.twig') }}
{% endblock %}
