{% extends 'base.html.twig' %}

{% block title %}ACFSE{% endblock %}

{% block body %}
  {% include 'header.html.twig' %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">tableau de bord</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Activités </li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Crée Compte Rendu</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{{path('reunion_new')}}">Voir les details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Lister les Comptes rendus Crées </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{{path('reunion_index')}}">Voir les details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>    
                </main><br>
                 <div class="form-group">
                       
                          <a href="{{path('acceuil')}}"> <input type="button" class="btn btn-primary" value="Retour"/> </a>
                    </div>
  <div id="footer">
    {% include 'footer.html.twig' %}
        </div>
        
            </div>
        </div>

    </body>

{% endblock %}
